nav{
	border-bottom: 1px solid lightgray;
	box-shadow: 0px 1px gray;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	z-index: 2;
}
#nav2{
	display: flex;
	align-content: space-around;
}
.n-item{
	font-size: 20px;
	padding: 12px;
}
.n-item1{
	display: flex;
	font-size: 22px;
	padding: 12px;
}
a{
	text-decoration: none;
	color: black;
}
.img{
	z-index: 1;
	display: flex;
	position: relative;
	top: 50px;
	left: -8px;
	max-width: 1270px;
}
#footer{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 5px 1px rgba(105,105,105,0.6);
	background-color: rgba(255,255,255,0.9);
	flex-wrap: wrap;
	align-items: baseline;
	z-index: 3;
}
.button{
	background-color: rgb(7,99,156);
	border-radius: 5px;
	color: white;
	text-align: center;
	padding: 10px;
}
@font-face{
	font-family: saxony_serial-regular;
	src: url(saxony_serial-regular.otf);
}
.body{
	display: flex;
	flex-wrap: wrap;
}
.padding{
	padding-top: 18;
	padding-bottom: 10;
	padding-right: 10%;
}
.icon{
	width: 35px;
}
.child{
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
@media (max-width: 800px) and (orientation: portrait){

}
